<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Blood Glucose Units</string>
			<key>Key</key>
			<string>blood_glucose_units_preference</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>mmol/L</string>
				<string>mg/dL</string>
			</array>
			<key>Values</key>
			<array>
				<string>mmol</string>
				<string>mgdl</string>
			</array>
			<key>DefaultValue</key>
			<string>mmol</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Carbohydrate Decimal Place</string>
			<key>Key</key>
			<string>carbohydrate_decimal_preference</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
